body {
  font-family: "Gibson", "Helvetica Neue", system-ui, sans-serif;
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12pt;
  /* TODO: adjust scaling */
  transform-origin: top center;
  transform: scale(0.85);
}



h1 {
  font-weight: bold;
  font-size: 4.5em;
  color: #333;
  margin-top: 5%;
  margin-bottom: 5%;
}

.h1-white{
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 3em;
  color: #BCBCBC; 
}

p {
  font-family: "Helvetica Neue", system-ui, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  margin-top: 5%;
  margin-bottom: 5%;
}

.p-bold {
  font-weight: 600;
}

.p-white {
  color: white;
}

a, a:visited, a:active{
  text-decoration: none;
  
}
.content {
  width: 80%;
  height: inherit;
  max-width: 1600px;
 
}

.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.intro__image-container, .intro__text-container{
  width: 50%;
  height: 60%;
}
.intro__image {
  position: absolute;
}

.intro__image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.intro__collage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transform-origin: center left;
}

.intro__svg {
  height: 300px;
  width: 300px;
  z-index: 2;
}

#intro__profile {
  height: 400px;
  width: 400px;
  background-color: #333;
  border-radius: 50%;
  transform: translateX(50px) translateY(0px) scale(1);
}

#intro__block{
  width: 60%;
  height: 175px;
  padding: 10px 25px;
  background-color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transform: translateX(400px) translateY(0px) scale(1);
}

#intro__triangle {
  width: 300px;
  height: 225px;
  transform: translateX(0px) translateY(120px);
}

#intro__cross {
  width: 75px;
  height: 75px;
  transform:  translateX(450px) translateY(215px);
}

#intro__lightning {
  width: 150px;
  height: 150px;
  transform:  translateX(-25px) translateY(-200px);
}

#intro__squiggle {
  transform:  translateX(350px) translateY(-200px) scale(0.6);
}

#intro__circles {
  transform:  translateX(625px) translateY(-175px) scale(0.5);
}

.intro__text-container{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  align-items: flex-end;
}


.intro__description {
  width: 70%;
  
}

.intro__button-container{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
}

.intro__button{
  width: 220px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
}

#button-black{
  background-color: #333;
 
}
.intro__button#button-white{
  margin-left: 5%;
}
#button-white{
  background-color: white;
  
}

.cases{
  height: 200vh;
  display: flex;
  flex-direction: column;
}

.case__container:last-child{
  margin-bottom: 5%;
}

.case__text-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.case__description{
  width: 50%;
  margin-top: 2.5%;
  margin-bottom: 12.5%;
}

.case__title-indiv {
  display: flex;
  flex-direction: column;
}

.cases__title, .case__title-indiv h1{
  margin-bottom: 0;
}

.case__title-indiv h2 {
  margin-top: 7.5%;
}

.case__info {
  width: 40%;
  display: flex;
  align-items: center;
  
}

.cases__image-container{
  width: 100%;
  height: 500px;
  min-height: 20%;
  max-height: 50%;
  border-radius: 10px;
  margin-top: 2.5%;
  margin-bottom: 10%;
  overflow: hidden;
  z-index: 1;
}
.cases__image{
  width: 100%;
  height: 100%;
  z-index: 2;
  background-size: cover;
  background-position: 50% 10%;
  transition: 0.6s;
  
}

.cases__image:hover {
  transform: scale(1.05) translateZ(0);
  cursor: pointer;
}

#case1 {
  background-image: url("https://cdn.glitch.com/3642a9a2-bfd3-4da6-9890-1bf4848b9e31%2Fdnd.png?1549078942394");
}

#case2 {
  background-image: url("https://cdn.glitch.com/3642a9a2-bfd3-4da6-9890-1bf4848b9e31%2Fairports.png?1544165784455");
}

#case3 {
  background-image: url("https://cdn.glitch.com/3642a9a2-bfd3-4da6-9890-1bf4848b9e31%2FLogo%20Black.png?1549080896232");
  background-position: center;
}
#case4 {
  background-image: url("https://cdn.glitch.com/3642a9a2-bfd3-4da6-9890-1bf4848b9e31%2Fwdd.jpg?1544164840150");
  background-position: center;
}


@media only screen  and (max-width : 1920px) {
/* Styles */
  .content {
    width: 80%;
    max-width: 1600px;
  }
  .intro__collage {
    transform: scale(0.9) translateX(0px);
  }
  p {
     font-size: 1.5em;
  }
  
  .intro__button {
    width: 200px;
    height: 60px;
  }
}

@media only screen  and (max-width : 1600px) {
/* Styles */
  #intro__circles {
    transform: translateX(500px) translateY(150px) scale(0.4);
  }
}
@media only screen  and (max-width : 1440px) {
/* Styles */
  .intro__collage {
    transform: scale(0.8);
  }
  h1 {
    font-size: 4em;
  }
  h2{
    font-size: 2.75em;
  }
  p {
    font-size: 1.5em;
  }
  .intro__description {
    width: 85%;
  }
  .intro__button {
    width: 180px;
    height: 50px;
  }
  .cases__image-container{
    height: 400px;
  }
}
@media only screen  and (max-width : 1280px){
/* Styles */
  .intro__collage {
    transform: scale(0.7);
  }
  h1 {
    font-size: 3.5em;
  }
  h2{
    font-size: 2.5em;
  }
  p {
    font-size: 1.25em;
  }
  .cases__image-container{
    height: 350px;
  }
}
@media only screen and (max-width : 1024px){
/* Styles */
  .content {
    width: 90%;
  }
  #intro__block {
    display: none;
  }
  #intro__circles{
    transform: translateX(400px) translateY(0px) scale(0.4);
  }
  .case__description{
    width: 80%;
  }
  .cases__image-container{
    height: 300px;
  }
  .case__text-container{
    flex-direction: column;
  }
  .case__title-indiv h2 {
    margin-top: 5%;
  }
  .case__info {
    width: 80%;
    margin-top: -5%;
  }
}

@media only screen and (max-width : 900px){
/* Styles */
  .content {
    width: 80%;
  }
  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    margin-bottom: 200px;
  }
  .intro__image-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
  }
  .intro__collage {
    transform-origin: center;
    transform: scale(0.6);
  }
  #intro__block {
    display: flex;

  }
  #intro__circles {
     display: none;
  }
  #intro__triangle{
    transform: translateX(-100px) translateY(150px);
  }
  
  .intro__text-container {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .intro__description, .case__info, .case__description  {
    text-align: left;
    width: 100%;
  }
  .intro__button-container {
    width: 80%;
    justify-content: flex-start;
  }

}
@media only screen and (max-width : 768px){
  h1 {
    font-size: 3em;
  }
  h2{
    font-size: 2em;
  }
  .case__info {
    width: 100%;
  }
  .intro{
    margin-bottom: 150px;
  }
  #intro__block{
    display: none;
  }
  #intro__circles{
    display: flex;
  }
}

@media only screen and (max-width : 500px){
  h1 {
    font-size: 2.5em;
  }
  h2{
    font-size: 1.75em;
  }
  .content{
    margin-top: -10%;
    width: 95%;
  }
  .intro__collage{
    transform-origin: left center;
    transform: scale(0.55);
  }
  
  .intro__description, .case__info, .case__description {
    width: 100%;
  }
  .intro__button-container {
    margin-top: 10%;
  }
  #intro__triangle{
    transform: translateX(0px) translateY(120px);
  }
  .cases__title{
    margin-bottom: 10%;
  }
  .case__container{
    margin-top: 10%;
  }
  .case__info {
    width: 100%;
  }
  .cases__image-container{
    height: 200px;
  }
  .intro__button {
    width: 160px;
    height: 50px;
  }
  
}

